<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ user_exam.user.username }}'s Exam</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/googlecode.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_bp.static', filename='exam_result.css') }}">
</head>

<body>
    <main id="main-holder">

        <form action="/release_exam" method="post">
            <br>
            {%- if gradedexamquestions -%}
            {%- for gq in gradedexamquestions -%}
            <div class="container-fluid main-holder">
                <div class="row m-1"><h6>Question ID: {{ gq.question_id }}</h6></div>
                <div class="row m-1"><h6>Total Points: {{ gq.exam_question.points }}<h6></h6></div>
                <div class="row">
                    <div class="col-lg-4">
                        <textarea class="form-control" rows="8" type="text" readonly>{{ gq.exam_question.question.question }}</textarea>
                        <br>
                        <div>
                            <h6>Student Answer:</h6>
                            <pre><code class="language-python" id="student_ans{{ gq.question_id }}" name="student_ans{{ gq.question_id }}">{{ gq.student_answer }}</code></pre>
                        </div>
                        <div>
                            <h6>Comment:</h6>
                            <textarea class="form-control" id="teacher_com{{ gq.question_id }}" name="teacher_com{{ gq.question_id }}" rows="8">{{ gq.comment }}</textarea>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        {%- with code_tester = CodeTester(gq.student_answer, gq.exam_question.question.func_name) -%}
                        {%- with total_items =  code_tester.get_total_items(gq.exam_question.question) -%}
                        {%- with points_per_item = gq.exam_question.points / total_items -%}
                        <table class="table text-center">
                            <thead>
                                <tr>
                                    <th class="col-1" scope="col">Constraint</th>
                                    <th class="col-1" scope="col" colspan="3" style="text-align: center;">Result</th>
                                    <th class="col-1" scope="col">Auto Grade</th>
                                    <th class="col-1" scope="col">Manual Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">Function Name</td>
                                    {% if code_tester.check_func_name() %}
                                    <td class="align-middle table-success" colspan="3" style="text-align: center;">Pass</td> 
                                    {% else %} 
                                    <td class="align-middle table-danger" colspan="3" style="text-align: center;">Fail</td> 
                                    {% endif %}
                                    <td class="align-middle">{% if code_tester.check_func_name() %} {{ "%.2f"|format(points_per_item) }} {% else %} 0.00 {% endif %} / {{ "%.2f"|format(points_per_item) }}</td>
                                    <td class="align-middle"> 
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="man_grade{{ gq.question_id }}_funcname" name="man_grade{{ gq.question_id }}" value={{ "%.2f"|format(gq.man_grades[0]) }} required>
                                            <div class="input-group-append">
                                              <span class="input-group-text">/ {{ "%.2f"|format(points_per_item) }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {%- if gq.exam_question.question.for_flag -%}
                                <tr>
                                    <td class="align-middle">For Loop</td>
                                    {% if code_tester.check_for_loop() %}
                                    <td class="align-middle table-success" colspan="3" style="text-align: center;">Pass</td> 
                                    {% else %} 
                                    <td class="align-middle table-danger" colspan="3" style="text-align: center;">Fail</td> 
                                    {% endif %}
                                    <td class="align-middle">{% if code_tester.check_for_loop() %} {{ "%.2f"|format(points_per_item) }} {% else %} 0.00 {% endif %} / {{ "%.2f"|format(points_per_item) }}</td>
                                    <td class="align-middle"> 
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="man_grade{{ gq.question_id }}_for" name="man_grade{{ gq.question_id }}" value={{ "%.2f"|format(gq.man_grades[1]) }} required>
                                            <div class="input-group-append">
                                              <span class="input-group-text">/ {{ "%.2f"|format(points_per_item) }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {%- elif gq.exam_question.question.while_flag -%}
                                <tr>
                                    <td class="align-middle">While Loop</td>
                                    {% if code_tester.check_while_loop() %}
                                    <td class="align-middle table-success" colspan="3" style="text-align: center;">Pass</td> 
                                    {% else %} 
                                    <td class="align-middle table-danger" colspan="3" style="text-align: center;">Fail</td> 
                                    {% endif %}
                                    <td class="align-middle">{% if code_tester.check_while_loop() %} {{ "%.2f"|format(points_per_item) }} {% else %} 0.00 {% endif %} / {{ "%.2f"|format(points_per_item) }}</td>
                                    <td class="align-middle"> 
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="man_grade{{ gq.question_id }}while" name="man_grade{{ gq.question_id }}" value={{ "%.2f"|format(gq.man_grades[1]) }} required>
                                            <div class="input-group-append">
                                              <span class="input-group-text">/ {{ "%.2f"|format(points_per_item) }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {%- elif gq.exam_question.question.rec_flag -%}
                                <tr>
                                    <td class="align-middle">Recursion</td>
                                    {% if code_tester.check_recursion() %}
                                    <td class="align-middle table-success" colspan="3" style="text-align: center;">Pass</td> 
                                    {% else %} 
                                    <td class="align-middle table-danger" colspan="3" style="text-align: center;">Fail</td> 
                                    {% endif %}
                                    <td class="align-middle">{% if code_tester.check_recursion() %} {{ "%.2f"|format(points_per_item) }} {% else %} 0.00 {% endif %} / {{ "%.2f"|format(points_per_item) }}</td>
                                    <td class="align-middle"> 
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="man_grade{{ gq.question_id }}_rec" name="man_grade{{ gq.question_id }}" value={{ "%.2f"|format(gq.man_grades[1]) }} required>
                                            <div class="input-group-append">
                                              <span class="input-group-text">/ {{ "%.2f"|format(points_per_item) }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="col">Inputs</th>
                                    <th scope="col">Correct Output</th>
                                    <th scope="col">User Output</th>
                                    <th scope="col">Result</th>
                                    <th scope="col">Auto Grade</th>
                                    <th scope="col">Manual Grade</th>
                                </tr>
                                {%- if not gq.exam_question.question.for_flag and not gq.exam_question.question.while_flag and not gq.exam_question.question.rec_flag -%}
                                    {%- set i = namespace(value=1) -%}
                                {%- else -%}
                                    {%- set i = namespace(value=2) -%}
                                {%- endif -%}

                                {%- for testcase in gq.exam_question.question.testcases -%}
                                <tr>
                                    <td class="align-middle">{{ testcase.case_input }}</td>
                                    {%- if testcase.case_output.startswith('"') or testcase.case_output.startswith("'") -%}
                                    <td class="align-middle">{{ testcase.case_output[1:-1] }}</td>
                                    {%- else -%}
                                    <td class="align-middle">{{ testcase.case_output }}</td>
                                    {%- endif -%}
                                    {% with test_output = code_tester.test_single_case(testcase) %}
                                    <td class="align-middle">{{ test_output[1] }}</td>
                                    {% if test_output[0] == 1 %}
                                    <td class="align-middle table-success">Pass</td> 
                                    {% else %} 
                                    <td class="align-middle table-danger">Fail</td> 
                                    {% endif %}
                                    <td class="align-middle">{% if test_output[0] == 1 %} {{ "%.2f"|format(points_per_item) }} {% else %} 0.00 {% endif %} / {{ "%.2f"|format(points_per_item) }}</td>
                                    <td class="align-middle">
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="man_grade{{ gq.question_id }}_case{{ i.value }}" name="man_grade{{ gq.question_id }}" value={{ "%.2f"|format(gq.man_grades[i.value]) }} required>
                                            <div class="input-group-append">
                                              <span class="input-group-text">/ {{ "%.2f"|format(points_per_item) }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    {% set i.value = i.value + 1 %}
                                    {% endwith %}
                                </tr>
                                {%- endfor -%}
                            </tbody>
                        </table>
                        {%- endwith -%}
                        {%- endwith -%}
                        {%- endwith -%}
                    </div>
                </div>
            </div>
            <br>
            <br>
            {%- endfor -%}
            {%- endif -%}
            <input class="btn btn-dark m-3" type="submit" value="Finish" id="exam_edit_submit">
        </form>

    </main>
</body>

</html>