<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exam Editor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_bp.static', filename='select.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
    <main>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
      <script type="text/javascript">

      function autoResize(iframe) {
        $(iframe).height($(iframe).contents().find('html').height());
      }
      </script>

      {% import "nav_bar.html" as nbar %}
      {{ nbar.nav_bar("nexam") }}

      <div id="framecontainer" class="iframe-container" >
        <iframe id="nexam-qbank" onload="autoResize(this);" src="{{ url_for('teacher_bp.nexam_qbank') }}" width="50%" frameborder="0" align="left"></iframe>
        <iframe id="nexam-display" onload="autoResize(this);" src="{{ url_for('teacher_bp.nexam_display') }}" width="50%" frameborder="0" align="left"></iframe>
      </div>

      <br>

    </main>
</body>



</html>