<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Editor (new)</title>
  <link rel="stylesheet" href="{{ url_for('teacher_bp.static', filename='select.css') }}">
</head>

<body>
    <main>
      <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>
      <script type="text/javascript">
        function autoResize(iframe) {
          $(iframe).height($(iframe).contents().find('html').height());
        }

      function autoCss(iframe){
        let head = $(iframe).contents().find("head");
        let css = "<link rel=\"stylesheet\" href=\"{{ url_for('teacher_bp.static', filename='iframe.css') }}\">";
        $(head).append(css);
      }
      </script>

      {% import "nav_bar.html" as nbar %}
      {{ nbar.nav_bar("nexam") }}

      <div id="framecontainer" class="iframe-container" >
        <iframe id="nexam-qbank" onload="autoResize(this);autoCss(this);" src="{{ url_for('teacher_bp.nexam_qbank') }}" width="50%" frameborder="0" align="left"></iframe>
        <iframe id="nexam-display" onload="autoResize(this);autoCss(this);" src="{{ url_for('teacher_bp.nexam_display') }}" width="50%" frameborder="0" align="left"></iframe>
      </div>

      <br>

    </main>
</body>



</html>