<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template Question Bank</title>
  <link rel="stylesheet" href="{{ url_for('teacher_bp.static', filename='select.css') }}">
</head>

<body>
  <main id="main-holder">
    <form id="question-sorting-form" method="post" action="/qbank-search-sort">
		<label for="category">Category:</label>
		<input type="text" id="category" name="category-filter">
		</select>
		<br>
		<label for="fname">Difficulty:</label>
        <select name="difficulty-filter" required>
		  <option value="all">All Difficulty</option>
          <option value="easy">Easy</option>
          <option value="med">Medium</option>
          <option value="hard">Hard</option>
        </select>
	    <br>
	    <label for="fname">Constraints:</label>
        <select name="constraints-filter" required>
		  <option value="all">All Contraints</option>
          <option value="easy">For</option>
          <option value="med">While</option>
          <option value="hard">Recursion</option>
        </select>
		<br>
		<input type="submit" value="Advanced Search">
    </form>
    <form id="question-select-form" method="post" action="/qbank-edit">
      <select name="question" size="20" style="width:90%;" class="select-css" required>
        <!--- Forloop of question list--->
          {% if questions %}
            {% for question in questions %}
              <option value="{{ question.question_id }}">{{ question.question_id }}: {{ question.func_name }}</option>
            {% endfor %}
          {% endif %}
      </select>

      <br>
      <input type="submit" value="Edit" id="qf-selectq">
    </form>
  </main>
</body>

</html>
