<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Bank</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_bp.static', filename='iframe.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_bp.static', filename='select.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body class="right-side">
  <main id="main-holder" class="right-side">
    <form id="question-sorting-form" method="post" action="/filter-questions">
      <div class="form-row">
        <div class="form-group col">
          <label for="category">Category:</label>
          <input class="form-control form-control-sm" type="text" id="category" name="category" value="{% if cat %}{{ cat }}{% endif %}">
        </div>
        <div class="form-group col">
          <label for="difficulty">Difficulty:</label>
          <select class="form-control form-control-sm" name="difficulty" required>
            <option value="all" {% if diff == "all" %} selected {% endif %}>All</option>
            <option value="easy" {% if diff == "easy" %} selected {% endif %}>Easy</option>
            <option value="medi" {% if diff == "medi" %} selected {% endif %}>Medium</option>
            <option value="hard" {% if diff == "hard" %} selected {% endif %}>Hard</option>
          </select>
        </div>
        <div class="form-group col ml-auto align-self-end">
          <input class="btn btn-sm btn-light" type="submit" value="Filter">
        </div>
      </div>
    </form>

    <form id="question-select-form" method="post" action="/qbank-edit">
      <select name="question" size="17" style="width:100%;" class="select-css" required>
        <!--- Forloop of question list--->
          {% if questions %}
            {% for q in questions %}
              {% set q_constraint = namespace(value='none') %}
              {% if q.for_flag %}
                {% set q_constraint.value = 'for' %}
              {% elif q.while_flag %}
                {% set q_constraint.value = 'while' %}
              {% elif q.rec_flag %}
                {% set q_constraint.value = 'rec' %}
              {% endif %}
              <option class="q-link" value="{{ q.question_id }}" q-link_id="{{ q.question_id }}" q-link_name="{{ q.func_name }}" q-link_text="{{ q.question }}" q-link_constraint="{{ q_constraint.value }}" q-link_diff="{{ q.difficulty }}" q-link_cat="{{ q.category }}">
                {{ q.question_id }}: {{ q.func_name }}
              </option>
            {% endfor %}
          {% endif %}
      </select>

      <br>
      <br>
      <br>
      <input class="btn btn-light" style="width: 100%;" type="submit" value="Edit" id="qf-selectq">
      <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </form>

    {% include 'q_quickview.html' %}

  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="{{url_for('teacher_bp.static', filename='nexam.js')}}"></script>
</body>

</html>
