<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Template Question Bank</title>
  <link rel="stylesheet" href="../static/select.css">
</head>

<body>
  <main id="main-holder">
    <form id="question-select-form" method="post" action="/qbank-edit" target='_parent'>
      <select name="question" size="20" style="width:90%;" class="select-css" required>
        <!--- Forloop of question list--->
          {% if questions %}
            {% for question in questions %}
              <option value="{{ question.question_id }}">{{ question.question_id }}: {{ question.func_name }}</option>
            {% endfor %}
          {% endif %}
      </select>

      <br>
      <input type="submit" value="Edit" id="qf-selectq">
    </form>
  </main>
</body>

</html>
