<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Editor (new)</title>
</head>

<body>

     <iframe id="tch-qeditor" src="{{ url_for('teacher_bp.question_editor') }}" frameborder="0" scrolling="yes"                     
                                    style="overflow: hidden; height: 100%; 
                                                width: 49%; float: left; " height="100%" width="49%"
                                   align="left">
                                  </iframe>  

     <iframe id="tch-qbank" src="{{ url_for('teacher_bp.question_bank') }}" frameborder="0" scrolling="yes"  
                                        style="overflow: hidden; height: 100%;
                                        width: 49%; " height="100%" width="49%"                                 
                                         align="right">
                                        </iframe>

     <script>
     let iframe = document.querySelector("#tch-qeditor");

     iframe.addEventListener('load', function() {
          iframe.style.height = iframe.contentDocument.body.scrollHeight + 'px';
          iframe.style.width = iframe.contentDocument.body.scrollWidth + 'px';
     });
     </script>

</body>



</html>