<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Editor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_bp.static', filename='iframe.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('teacher_bp.static', filename='select.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
  <main class="right-side" id="main-holder">
    <form class="right-side" action="/submit-question" method="post">

      {% if question %}
        <h4 style="color: floralwhite;">Question ID : {{ question.question_id }}</h4> 

        <div class="form-row">
          <div class="form-group col-md-6 w-50">
            <label for="func_name">Function Name:</label>
            <input class="form-control form-control-sm" type="text" id="func_name" name="func_name" value="{{ question.func_name }}" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="category">Category:</label>
            <input class="form-control form-control-sm" type="text" id="category" name="category" value="{{ question.category }}">
          </div>
          <div class="form-group col">
            <label for="DifficultyType">Difficulty:</label>
            <select class="form-control form-control-sm w-50" name="DifficultyType" required>
              <option value="easy" {% if question.difficulty == "easy" %} selected {% endif %}>Easy</option>
              <option value="medi" {% if question.difficulty == "medi" %} selected {% endif %}>Medium</option>
              <option value="hard" {% if question.difficulty == "hard" %} selected {% endif %}>Hard</option>
            </select>
          </div>
        </div>

        <br>
        <textarea class="form-control" id="tbox1" name="tbox1" rows="6" width="100%" placeholder="Question" required> {{ question.question }} </textarea>

        <br>
        <p style="color: floralwhite;">Constraints</p> 
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="none_flag" type="radio" name="constraint" value="none" {% if not question.rec_flag and not question.while_flag and not question.rec_flag %} checked {% endif %}>
          <label for="none_flag">None</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="for_flag" type="radio" name="constraint" value="for_constraint" {% if question.for_flag %} checked {% endif %}>
          <label for="for_flag">For Loop Constraint</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="while_flag" type="radio" name="constraint" value="while_constraint" {% if question.while_flag %} checked {% endif %}>
          <label for="while_flag">While Loop Constraint</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" if="rec_flag" type="radio" name="constraint" value="rec_constraint" {% if question.rec_flag %} checked {% endif %}>
          <label for="rec_flag">Recursion Constraint</label>
        </div>

        <br>

        <input class="btn btn-light" style="width: 100%;" type="submit" value="Update Question" id="question_submit" name="question_submit">
      {% else %}
        <h4 style="color: floralwhite;">New Question</h4> 

        <div class="form-row">
          <div class="form-group col-md-6 w-50">
            <label for="func_name">Function Name:</label>
            <input class="form-control" type="text" id="func_name" name="func_name" required>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="category">Category:</label>
            <input class="form-control" type="text" id="category" name="category">
          </div>
          <div class="form-group col">
            <label for="DifficultyType">Difficulty:</label>
            <select class="form-control w-50" name="DifficultyType" required>
              <option value="easy">Easy</option>
              <option value="med">Medium</option>
              <option value="hard">Hard</option>
            </select>
          </div>
        </div>

        <br>
        <textarea class="form-control" id="tbox1" name="tbox1" rows="6" width="100%" placeholder="Question" required></textarea>

        <br>
        <p style="color: floralwhite;">Constraints</p> 
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="none_flag" type="radio" name="constraint" value="none" checked>
          <label for="none_flag">None</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="for_flag" type="radio" name="constraint" value="for_constraint">
          <label for="for_flag">For Loop Constraint</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="while_flag" type="radio" name="constraint" value="while_constraint">
          <label for="while_flag">While Loop Constraint</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" id="rec_flag" type="radio" name="constraint" value="rec_constraint">
          <label for="rec_flag">Recursion Constraint</label>
        </div>

        <br>

        <input class="btn btn-light" style="width: 100%;" type="submit" value="Add Question" id="question_submit" name="question_submit" onclick="window.top.location.reload();">
      {% endif %}
    </form>

    {% if question %}
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <p style="color: floralwhite;">Test Cases</p> 
            {% if testcases %} 
            <ul class="list-group" style=" max-height: 315px; margin-bottom: 10px; overflow:scroll;">
              {% for testcase in testcases %}
                <div class="list-group-item list-group-item-action flex-column align-items-start">
                  <p class="mb-1">Input: {{ testcase.case_input }}</p>
                  <p class="mb-1">Output: {{ testcase.case_output }}</p>
                </div>
              {% endfor %}
            </ul>
            {% else %}
            <ul class="list-group">
              <li class="list-group-item">No Test Cases</li>
            </ul>
            {% endif %}
          </div>
          <div class="col">
            <p style="color: floralwhite;">Add New Test Case</p> 
            <form class="right-side" action="/add-testcase" method="post">
              <div>
                <textarea class="form-control" id="tbox2" name="tbox2" rows="4" cols="25" placeholder="Inputs" required></textarea>
              </div>
              <br>
              <div>
                <textarea class="form-control" id="tbox3" name="tbox3" rows="4" cols="25" placeholder="Output" required></textarea>
              </div>
              <br>
              <input class="btn btn-light" style="width: 100%;" type="submit" value="Add New Test Case" id="testcase_submit">
            </form>
          </div>
        </div>
      </div>
    {% endif %}

    <br>
    <a class="btn btn-light" style="margin-left: 15px;margin-bottom: 50px;width: 95%;" id="lf-qeditor" onclick="window.location.href='/qbank-display';">Back to Question Bank</a>

  </main>
</body>

</html>