<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Editor</title>
</head>

<body>
  <main id="main-holder">
    <form action="/submit-question" method="post">

      {% if question %}
        Question ID : {{ question.question_id }}
        <br>
        <label for="func_name">Function Name:</label>
        <input type="text" id="func_name" name="func_name" value="{{ question.func_name }}" required>
        <br>

        <textarea id="tbox1" name="tbox1" rows="4" cols="50" placeholder="Question" required> {{ question.question }} </textarea>
        <br>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category" value="{{ question.category }}">

        <label for="fname">Difficulty:</label>
        <select name="DifficultyType" required>
          <option value="easy" {% if question.difficulty == "easy" %} selected {% endif %}>Easy</option>
          <option value="medi" {% if question.difficulty == "medi" %} selected {% endif %}>Medium</option>
          <option value="hard" {% if question.difficulty == "hard" %} selected {% endif %}>Hard</option>
        </select>

        <br>
        Constraints
        <br>
        <label for="none_flag">None</label>
        <input id="none_flag" type="radio" name="constraint" value="none" {% if not question.rec_flag and not question.while_flag and not question.rec_flag %} checked {% endif %}>
        <br>
        <label for="for_flag">For Loop Constraint</label>
        <input id="for_flag" type="radio" name="constraint" value="for_constraint" {% if question.for_flag %} checked {% endif %}>
        <br>
        <label for="while_flag">While Loop Constraint</label>
        <input id="while_flag" type="radio" name="constraint" value="while_constraint" {% if question.while_flag %} checked {% endif %}>
        <br>
        <label for="rec_flag">Recursion Constraint</label>
        <input if="rec_flag" type="radio" name="constraint" value="rec_constraint" {% if question.rec_flag %} checked {% endif %}>

        <br>

        <input type="submit" value="Update Question" id="question_submit" name="question_submit">
      {% else %}
        New Question
        <br>
        <label for="func_name">Function Name:</label>
        <input type="text" id="func_name" name="func_name" required>
        <br>

        <textarea id="tbox1" name="tbox1" rows="4" cols="50" placeholder="Question" required></textarea>
        <br>

        <label for="category">Category:</label>
        <input type="text" id="category" name="category">

        <label for="fname">Difficulty:</label>
        <select name="DifficultyType" required>
          <option value="easy">Easy</option>
          <option value="med">Medium</option>
          <option value="hard">Hard</option>
        </select>

        <br>
        Constraints
        <br>
        <label for="none_flag">None</label>
        <input id="none_flag" type="radio" name="constraint" value="none">
        <br>
        <label for="for_flag">For Loop Constraint</label>
        <input id="for_flag" type="radio" name="constraint" value="for_constraint">
        <br>
        <label for="while_flag">While Loop Constraint</label>
        <input id="while_flag" type="radio" name="constraint" value="while_constraint">
        <br>
        <label for="rec_flag">Recursion Constraint</label>
        <input if="rec_flag" type="radio" name="constraint" value="rec_constraint">

        <br>

        <input type="submit" value="Add Question" id="question_submit" name="question_submit">
      {% endif %}
    </form>

    {% if question %}
    <br>
    Test Cases
    <br>
      {% if testcases %}
        <ul>
          {% for testcase in testcases %}
          <li> Input: {{ testcase.case_input }}, Output: {{ testcase.case_output }} </li>
          {% endfor %}
        </ul>
      {% else %}
        <ul>
          <li>No Test Cases!</li>
        </ul>
      {% endif %}

      <form action="/add-testcase" method="post">
        Add New Test Case
        <div>
          <textarea id="tbox2" name="tbox2" rows="4" cols="25" placeholder="Inputs" required></textarea>
        </div>
        <div>
          <textarea id="tbox3" name="tbox3" rows="4" cols="25" placeholder="Output" required></textarea>
        </div>
        <input type="submit" value="Add New Test Case" id="testcase_submit">
      </form>
    {% endif %}

    <br>
    <a id="lf-qeditor" class="lf-signin" onclick="window.location.href='/qbank-display';">Back to Question Bank</a>

  </main>
</body>

</html>