<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exam {{ exam_id }}</title>
  <link rel="stylesheet" href="{{ url_for('student_bp.static', filename='select.css') }}">
</head>

<body>
  <main id="main-holder">
    <form id="question-select-form-client" method="post" action="/submit-answers">
      {%- if questions -%}
          {%- for eq in questions -%}
            <p>Question ID: {{ eq.question_id }} <br>Points: {{ eq.points }}</p>
            <br>
            {%- with question_arr = eq.question.question.split('\n') -%}
            {%- for qustion_line in question_arr -%}
              {{ qustion_line | safe  }}<br>
            {%- endfor -%}
            {%- endwith -%}
            <br>
            <textarea id="q_answ{{ eq.question_id }}" name="q_answ{{ eq.question_id }}" rows="4" cols="50" required></textarea>
            <br>
            <br>
            <hr class="solid">
          {%- endfor -%}
      {%- endif -%}
      <br>
      <input type="submit" value="Submit" id="qf-selectq">
    </form>
  </main>
</body>

</html>
