<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exam List</title>
</head>

<body>
  {% if exams %}
  	<table>
  	{% for exam in exams %}
			{% if loop.index % {{ examrowmax }} == 0 %}
				<tr>
			{% endif %}
			<td><a id="cq-select" class="cq-select" onclick="window.location.href='/a_examselector?exam_id={{ exam.exam_id }}';">{{ exam.exam_id }}</a></td>
			{% if ((loop.index - 1) % {{ examrowmax }} == 0) && not loop.last %}
				</tr>
			{% elif loop.last %}
				<td><a id="cq-select" class="cq-select" onclick="window.location.href='/a_examselector?exam_id=newexam';">Create New Exam</a></td>
				</tr>
			{% endif %}
		{% endfor %}
		</table>
	{% else %}
	<table>
		<tr>
			<td><a id="cq-select" class="cq-select" onclick="window.location.href='/a_examselector?exam_id=newexam';">Create New Exam</a></td>
		</tr>
	</table>
  {% endif %}

</body>

</html>