<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ exam.username }}'s Exam</title>
  <link rel="stylesheet" href="../static/select.css">
</head>

<body>
    <main id="main-holder">
        <form action="/edit-submission" method="post">
            Looking at {{ exam.username }}'s Exam
            <br>
            <div>
            <!---Please help me and try to figure out this mess. we need a table of information that has question, points, and the question id. not sure how to do that.--->
            {% if gradedexamquestions %}
            <table id="single-exam-question-selector">
                <tr>
                    <td>Question ID</td>
                    <td>Question</td>
                    <td>Score</td>
                    <td>Manualy Edited?</td>
                    <td>Select to Edit</td>
                </tr>
                {% for graded_q in gradedexamquestions %}
                    <tr>
                        <td>{{ graded_q.question_id }}</td>
                        <td>{{ graded_q.question | truncate(10) }}</td>
                        <td>{{ graded_q.auto_grade_points }}</td>
                        <td>{{ graded_q.manual_edited }}</td>
                        <td><input type="radio" name="question_selected" value="{{ graded_q.question_id }}" id="{{ graded_q.question_id }}" title="{{ graded_q.question_id }}" /></td>
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            </div>
            <br>
            <input type="submit" value="Edit and Review Question" id="question_submit">
        </form>

    </main>
</body>

</html>