<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question Selector</title>
</head>

<body>
  <main id="main-holder">
    <form id="question-select-form" method="post" action="/question">
      <select name="Questions" size="20" style="width:90%;" required>
        <!--- Forloop of question list--->
          {% if questions %}
            {% for question in questions %}
              <option value="{{ question.question_id }}">{{ question.question_id }}:{{ question.question }}</option>
            {% endfor %}
          {% endif %}
      </select>

      <input type="submit" value="Edit" id="qf-selectq">
    </form>
    <a id="qf-nquestion" class="qf-nquestion" onclick="window.location.href='/newquestion'">New Question</a>
  </main>
</body>

</html>