<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ exam.username }}</title>
  <link rel="stylesheet" href="../static/select.css">
</head>

<body>
  <main id="main-holder">
    
      <h1>Question ID : {{ question.question_id }}</h1>
      <textarea readonly>{{ question.answer }}</textarea>
      <br>
      <!---Test case system re-edit required. --->
      <table>
        <tr>
          <td>Test Case</td>
          <td>Success?</td>
        </tr>
        {% set success=0 %}
        {% if question.testcases %}
          {% for tcase in question.testcases %}
          <tr>
            <td>{{ tcase.case_input }} -> {{ tcase.case_output }}</td>
            <td>{{ tcase.success }}</td>
            {% if tcase.success=true %}
              {% set success=success+1 %}
            {% endif %}
          </tr>
          {% endfor %}
        {% endif %}
        <tr>
          <td>Total</td>
          <td>{{ success }}</td>
        </tr>
      </table>
    <form action="/submition-question-edit-save" method="post">
      <br>
      <br>
      <b>Score</b>
      <input type="number" value="{{ ((success/question.testcases|length)*question.points)|float }}" required></input>/{{question.points}}
      <br>
      <textarea id="question-comment" placeholder="Comments" readonly></textarea>
      <input type="submit" value="Finish Editing This Question">
    </form>
  </main>
</body>

</html>