html {
	background-color: #7f7f7f;
    background-image: url('https://i.imgur.com/EP15VMX.png');
   	background-repeat: repeat-y;
   	background-size: 100% 100%;
}

body {
    color: #f5f5f5;
}

main {
	height: 100%;
	width: 100%;
	color: #000000;
}


form {
    background-color: #7f7f7f;
    background-image: url('https://i.imgur.com/EP15VMX.png');
   	background-repeat: repeat-y;
   	background-size: 100% 100%;
}

.main-holder {
	background-color: #f5f5f5;
	border-radius: 7px;
	box-shadow: 0px 0px 5px 2px black;
    padding: 50px 50px 50px 50px;
    width: 95%;
    margin: auto;
    font-family: 'Lato', sans-serif;
	padding: 10px;
}

.btn-light, .btn-light:hover, .btn-light:active, .btn-light:visited {
    background-color: #f5f5f5 !important;
}

table {
    width: 100%;
}

.table-wrapper {
    max-height: 41em;
    overflow: auto;
    display:inline-block;
}
