iframe{
    overflow: visible; 
    width: 49%; 
    float: left;
    scroll: no;
}

body {
    /*margin:0;*/
    padding:0;
    height:100%;

    overflow:hidden;

    background-color: none;
    background-image: none;
    background-repeat: none;
    background-size: none;
    color: #ffffff;
}

label{
    color: #ffffff;
}

.question-sorting-form form{
    color: #ffffff;
}

.tbox1 textarea
{
  width: 100%; 
  margin: 0; 
  padding: 0; 
  border-width: 0; 
}

.gray-bg{
    background-color: #7f7f7f;
    padding: 20px;
    font-family: 'Lato', sans-serif;
}

.gray-bg-dark{
    background-image: url('https://i.imgur.com/EP15VMX.png');
   	background-repeat: repeat-y;
   	background-size: 100% 100%;
       font-family: 'Lato', sans-serif;
}