.box{
    float:left;
    margin-right:20px;
}
.clear{
    clear:both;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Control the left side */
.left {
    left: 0;
}
  
/* Control the right side */
.right {
    right: 0;
}

.split-screen{
    height: 100vh; 
    width: 49%; 
    float: left;
}

iframe{
    overflow: visible; 
    width: 49%; 
    float: left;
}

body {
    margin: 0;
    height: 500;
}

